@charset "UTF-8";

body {
    background-color: rgba(214, 247, 214, 0.671);
    text-align: center;
}

h1 {
    @import url('https://fonts.googleapis.com/css2?family=Mooli&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
    font-family: 'Mooli', sans-serif;
}

